.git/
.snakemake/
data/*/*/*   
resources/*
workflow/report/bigscape.log
workflow/scripts/fetch_taxonomy_from_api.py
!data/raw/fasta/NBC_01171.1.fna
!data/raw/fasta/NBC_01270.1.fna 
!data/raw/fasta/P8-2B-3.1.fna
!resources/Actinos_6species.zip
!data/*/*/.gitkeep
!data/*/README.md